<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>
      Wincing My Way Through Software<%= ' - ' + current_article.title unless current_article.nil? %>
    </title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'all' %>
  </head>
  <body class="outside">
    <div class="main-container">

    <%= partial "header" %>

    <div class="left-column">
      <%= partial "twitters" %>
    </div>

    <div class="main" id="main" role="main">
      <%= partial "article_head" unless current_article.nil? %>
      <%= yield %>
    </div>

    <aside class="right-column">
      <%= partial "about" %>
      <%= partial "recent_articles" %>
      <%= partial "tags" %>


    </aside>
  </body>
</html>
